<!DOCTYPE html>
<html ng-app="myapp06">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>非侵入性的javascript</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="" rel="stylesheet">
		<script src="static/js/angular.js"></script>
	</head>
<body>

<!-- 
P24
这个页面调用了两个demo()函数，但是因为它们处在不同的控制器下，所以它们其实不是同一个函数。当然如果在两个控制器下的demo()内容是一样的话，它们可以是同一个函数， 
-->

<div ng-controller="my061" class="navbar">
	<li class="menu-item" ng-click="demo()">第一个</li>
</div>



<div ng-controller="my062" class="contentArea">
	<div ng-click="demo()">第二个</div>
</div>



<!--<script src="static/js/b06.js"></script>-->    
<script type="text/javascript">
	var myapp06=angular.module('myapp06',[]);
	myapp06.controller('my061',function ($scope) {
		$scope.demo=function(){
			alert('这是第一个函数');
		}
	});
	
	
	myapp06.controller('my062',function ($scope){
		$scope.demo=function(){
			alert('这是第二个函数 ');
		}
	});
</script>
</body>
</html>